page-introduction {
  p {
    width: 100%;
  }

  /** keyboard on focus issue fix **/
  .button-full-md {
    bottom: 52px;
    position: absolute;
  }

  ion-slide.swiper-slide.focused-with-keyboard-on {
    align-items: flex-start;

    ion-row {
       margin-top: 56px;
    }
  }

  .scroll-content {
    margin-bottom: -56px !important;
  }

  ion-content > div {
      padding: 0 !important;
      margin: 0 !important;
  }
  /** end **/
}
