page-signin {
  .language img {
    max-height: 75%;
    padding-right: 5px;
  }
  .ion-lang {
    position: absolute;
    right: 0;
  }

  .item-md {
    padding-right: 16px;
  }

  .toolbar-background-md {
    background: #fff;
  }
  .signin {
    margin: 10px 0 20px;
  }
  .signup-links,
  .reset-password {
    div {
      width: 100%;
    }
  }
  .reset-password {
    padding-top: 10px;
    margin-top: 10px;
  }
  .banner {
    img {
      width: 33%;
      height: 33%;
      border: 1px solid white;
    }
  }
  form {
    width: 75%;
  }
}