page-signin {
  .language img {
    max-height: 75%;
    padding-right: 5px;
  }

  .item-md {
    padding-right: 16px;
  }

  .toolbar-background-md {
    background: #fff;
  }
  .signin {
    margin: 10px 0 20px;
  }
  .signup-links {
    div {
      width: 100%;
    }
  }
}