<ion-header>
  <ion-navbar>
    <ion-title>{{ signupTitle }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center align-items-center>
      <form [formGroup]="signupForm" #f="ngForm" (ngSubmit)="onSignup(f)">
        <ion-item>
          <ion-label stacked>{{ emailLbl }}</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item *ngIf="!signupForm.controls.email.valid  && signupForm.controls.email.dirty">
          <p class="error">{{ emailInvalid }}</p>
        </ion-item>
        <ion-item>
          <ion-label stacked>{{ passwordLbl }}</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-item *ngIf="!signupForm.controls.password.valid  && signupForm.controls.password.dirty">
          <p class="error">{{ passwordInvalid }}</p>
        </ion-item>
        <button
          type="submit"
          class="signup"
          ion-button
          block round
          [disabled]="!signupForm.valid"
          >{{ signupLbl }}</button>
      </form>
    </ion-row>
  </ion-grid>
</ion-content>
